* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #080808;
    text-transform: uppercase;
}

.main {
    background-color: #080808;
    width: 100%;
    height: 100%;
}

#nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 30px;
  background-color: black;
}

#nav1 h1 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.nav2 {
  display: flex;
  gap: 20px;
}

.nav2 h1 {
  font-size: 18px;
  color: white;
}


#nav1 h1:hover, .nav2 h1:hover {
    color: #00ffea;
    transform: scale(1.5);
}

#section1 {
    top: 52%;
    left: 55%;
    width: 70%;
    margin: auto;
}

#h {
    margin-top: 15px;
    font-size: 70px;
    font-weight: lighter;
    line-height: 80px;
    padding: auto;

}
#s {
    font-size: 80px;
    font-weight: lighter;
    line-height: 50px;
    padding: auto;
    text-align: center;
}
#d {
    font-size: 80px;
    font-weight: lighter;
    line-height: 50px;
    padding: auto;
    text-align: right;
}

